html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
} 
input,
button {
  outline: none;
  background: none;
  border: none;
}

input:focus {
  outline: none;
  background: none;
  border: none;
}

button {
  cursor: pointer;
  padding: 0;
}

body {
  background: #f4f6f8;
}

.header {
  padding: 10px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left-menu {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__right-menu {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__item {
  color: black;
  width: 40px;
  height: 40px;
  background-size: 323px 273px;
  background-image: url(../img/headersprite.png);
  background-repeat: no-repeat;
  display: block;
}
.header .item__link {
  width: 100%;
  height: 100%;
  display: block;
}
.header .hamburger {
  background-position: -49px -145px;
}
.header .naverpay {
  background-position: -90px -192px;
}
.header .chat {
  background-position: -135px -194px;
}
.header .alarm {
  background-position: -45px -194px;
}
.header .mypage {
  background-position: -212px -80px;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  padding: 0 20px;
}
.search__inner {
  width: 100%;
  max-width: 500px;
}
.search__bar {
  padding: 0 18px;
  height: 50px;
  border: 1px solid green;
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.search__bar-item {
  width: 27px;
  height: 27px;
  background-size: 434px 414px;
  background-image: url(../img/desktopsprite.png);
  background-repeat: no-repeat;
  display: block;
}
.search .item__link {
  width: 100%;
  height: 100%;
  display: block;
}
.search__input {
  padding: 0 15px;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  font-size: 17px;
}
.search .logo {
  background-position: -126px -355px;
}
.search .voice {
  background-position: -296px -329px;
}

.menu {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 352px;
}
.menu__item {
  flex: 0 0 20%;
}
.menu__item--etc {
  margin-bottom: 10px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.menu__list .item__img {
  width: 44px;
  height: 44px;
}
.menu__list .item__text {
  font-size: 11px;
  line-height: 15px;
  color: black;
}
.menu__list .item__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 180px;
  display: flex;
  justify-content: center;
}
.main__container {
  width: 100%;
  --gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
  grid-auto-rows: 10px;
}
@media screen and (max-width: 1150px) {
  .main__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .main__container {
    display: block;
  }
  .main__container {
    margin-bottom: var(--gap);
  }
}
.main .card__item {
  background: white;
  border-radius: 10px;
}
.main .card__item--1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 158px;
}
.main .card__item--1 .weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .card__item--1 .weather__left {
  display: flex;
  gap: 15px;
}
.main .card__item--1 .weather__right {
  display: flex;
  gap: 5px;
}
.main .card__item--1 .weather__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main .card__item--1 .weather__img {
  width: 42px;
  height: 41px;
  background-size: 484px 459px;
  background-image: url(../img/weathersprite.png);
  background-position: -267px -46px;
  background-repeat: no-repeat;
}
.main .card__item--1 .weather__myplace {
  font-size: 16px;
  color: gray;
}
.main .card__item--1 .weather__myplace-button {
  width: 16px;
  height: 16px;
  background-size: 408px 372px;
  background-image: url(../img/etcsprite.png);
  background-position: -390px -207px;
  background-repeat: no-repeat;
}
.main .card__item--1 .weather__place {
  font-weight: 700;
  font-size: 18px;
}
.main .card__item--1 .weather__detail {
  font-size: 15px;
}
.main .card__item--1 .weather__detail--good {
  color: blue;
}
.main .card__item--1 .weather__find-place {
  text-align: center;
  font-size: 13px;
  color: gray;
}
.main .card__item--2 {
  height: 100px;
  display: flex;
  align-items: center;
}
.main .card__item--2 .ai {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .card__item--2 .ai__left {
  display: flex;
  gap: 10px;
}
.main .card__item--2 .ai__left .logo {
  background-size: 408px 372px;
  background-position: -214px -92px;
  width: 40px;
  height: 40px;
  background-image: url(../img/etcsprite.png);
  background-repeat: no-repeat;
  display: block;
}
.main .card__item--2 .ai__left .explain__text--emphasis {
  font-weight: 700;
}
.main .card__item--2 .ai__left .explain__text--emphasis2 {
  color: #767678;
}
.main .card__item--2 .ai__use {
  font-weight: 400;
  line-height: 18px;
  color: #03c95b;
  white-space: nowrap;
}
.main .card__item--3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 158px;
}
.main .card__item--3 .stock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.main .card__item--3 .stock__index-menu {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 20px 2px 16px 0;
}
.main .card__item--3 .stock__index-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-right: 1px solid gray;
}
.main .card__item--3 .stock__name {
  font-size: 13px;
}
.main .card__item--3 .stock__price {
  font-weight: 700;
}
.main .card__item--3 .stock__variance {
  color: #2196f3;
  font-size: 10px;
}
.main .card__item--3 .stock__menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  border-radius: 22px;
  background: #f5f8fb;
  overflow: hidden;
  height: 50px;
}
.main .card__item--3 .stock__list {
  font-size: 13px;
  color: #767678;
  border-right: 1px solid gray;
}
.main .card__item--4 {
  background: green;
  height: 530px;
}
.main .card__item--5 {
  background: skyblue;
  height: 225px;
}
.main .card__item--6 {
  background: yellowgreen;
  height: 240px;
}
.main .card__item--7 {
  background: pink;
  height: 300px;
}
.main .card__item--8 {
  background: violet;
  height: 300px;
}
.main .card__item--9 {
  background: black;
  height: 240px;
}
.main .card__item--10 {
  background: orange;
  height: 240px;
}/*# sourceMappingURL=main.css.map */