@import "./_mixins.scss";

.search {
	display: flex;
	justify-content: center;
	padding: 0 20px;
	margin-top: 65px;
	&__inner {
		width: 100%;
		max-width: 500px;
	}

	&__bar {
		padding: 0 18px;
		height: 50px;
		border: 1px solid green;
		background: white;
		border-radius: 50px;
		display: flex;
		align-items: center;
		&-item {
			.link {
				width: 27px;
				height: 27px;

				&.logo {
					@include spriteimg(
						$url: "../img/desktopsprite.png",
						$position: -123px -355px,
						$size: 434px 414px
					);
				}
				&.search {
					@include spriteimg(
						$url: "../img/desktopsprite.png",
						$position: -296px -329px,
						$size: 438px 414px
					);
				}
			}
		}
	}
	&__input {
		padding: 0 15px;
		height: 100%;
		width: 100%;
		color: gray;
		font-size: 17px;
	}
}
