@import "./reset.scss";

.header {
	padding: 10px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left-menu {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	&__right-menu {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__item {
		color: black;
		width: 40px;
		height: 40px;
		background-size: 323px 273px;
		background-image: url(../img/headersprite.png);
		background-repeat: no-repeat;
		display: block;
	}
	.item__link {
		width: 100%;
		height: 100%;
		display: block;
	}
	.hamburger {
		background-position: -49px -145px;
	}
	.naverpay {
		background-position: -90px -192px;
	}
	.chat {
		background-position: -135px -194px;
	}
	.alarm {
		background-position: -45px -194px;
	}
	.mypage {
		background-position: -212px -80px;
	}
}

.search {
	display: flex;
	justify-content: center;
	margin-top: 65px;
	padding: 0 20px;
	&__inner {
		width: 100%;
		max-width: 500px;
	}

	&__bar {
		padding: 0 18px;
		height: 50px;
		border: 1px solid green;
		background: white;
		border-radius: 50px;
		display: flex;
		align-items: center;
		&-item {
			width: 27px;
			height: 27px;
			background-size: 434px 414px;
			background-image: url(../img/desktopsprite.png);
			background-repeat: no-repeat;
			display: block;
		}
	}
	.item__link {
		width: 100%;
		height: 100%;
		display: block;
	}
	&__input {
		padding: 0 15px;
		height: 100%;
		width: 100%;
		opacity: 0.5;
		font-size: 17px;
	}
	.logo {
		background-position: -126px -355px;
	}

	.voice {
		background-position: -296px -329px;
	}
}

.menu {
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	max-width: 352px;
	&__item {
		flex: 0 0 20%;
		&--etc {
			margin-bottom: 10px;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 10px;

		.item__img {
			width: 44px;
			height: 44px;
		}

		.item__text {
			font-size: 11px;
			line-height: 15px;
			color: black;
		}
		.item__link {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 3px;
		}
	}
}

.main {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	margin-top: 180px;
	display: flex;
	justify-content: center;
	&__container {
		width: 100%;
		--gap: 20px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: var(--gap);
		grid-auto-rows: 10px;
	}

	@media screen and (max-width: 1150px) {
		&__container {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (max-width: 600px) {
		&__container {
			display: block;
		}

		&__container {
			margin-bottom: var(--gap);
		}
	}

	.card {
		&__item {
			background: white;
			border-radius: 10px;
			&--1 {
				.weather {
					display: flex;
					align-items: center;
					justify-content: space-between;
					&__left {
						display: flex;
						gap: 15px;
					}
					&__right {
						display: flex;
						gap: 5px;
					}
					&__container {
						display: flex;
						flex-direction: column;
						gap: 5px;
					}
					&__img {
						width: 42px;
						height: 41px;
						background-size: 484px 459px;
						background-image: url(../img/weathersprite.png);
						background-position: -267px -46px;
						background-repeat: no-repeat;
					}
					&__myplace {
						font-size: 16px;
						color: gray;
						&-button {
							width: 16px;
							height: 16px;
							background-size: 408px 372px;
							background-image: url(../img/etcsprite.png);
							background-position: -390px -207px;
							background-repeat: no-repeat;
						}
					}
					&__place {
						font-weight: 700;
						font-size: 18px;
					}
					&__detail {
						font-size: 15px;
						&--good {
							color: blue;
						}
					}
					&__find-place {
						text-align: center;
						font-size: 13px;
						color: gray;
					}
				}
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				height: 158px;
			}
			&--2 {
				height: 100px;
				display: flex;
				align-items: center;
				.ai {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					&__left {
						display: flex;
						gap: 10px;
						.logo {
							background-size: 408px 372px;
							background-position: -214px -92px;
							width: 40px;
							height: 40px;
							background-image: url(../img/etcsprite.png);
							background-repeat: no-repeat;
							display: block;
						}
						&__explain {
						}
						.explain__text {
							&--emphasis {
								font-weight: 700;
							}
							&--emphasis2 {
								color: #767678;
							}
						}
					}
					&__right {
					}
					&__use {
						font-weight: 400;
						line-height: 18px;
						color: #03c95b;
						white-space: nowrap;
					}
				}
			}
			&--3 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.stock {
					display: flex;
					flex-direction: column;
					justify-content: center;

					padding: 0 20px;
					&__index-menu {
						display: flex;
						justify-content: space-around;
						gap: 10px;
						padding: 20px 2px 16px 0;
					}
					&__index-list {
						overflow: hidden;
						display: flex;
						flex-direction: column;
						gap: 5px;
						border-right: 1px solid gray;
					}
					&__name {
						font-size: 13px;
					}

					&__price {
						font-weight: 700;
					}

					&__variance {
						color: #2196f3;
						font-size: 10px;
					}

					&__menu {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-around;
						gap: 10px;
						border-radius: 22px;
						background: #f5f8fb;
						overflow: hidden;
						height: 50px;
					}
					&__list {
						font-size: 13px;
						color: #767678;
						border-right: 1px solid gray;
					}
				}

				height: 158px;
			}
			&--4 {
				background: green;
				height: 530px;
			}
			&--5 {
				background: skyblue;
				height: 225px;
			}
			&--6 {
				background: yellowgreen;
				height: 240px;
			}
			&--7 {
				background: pink;
				height: 300px;
			}
			&--8 {
				background: violet;
				height: 300px;
			}
			&--9 {
				background: black;
				height: 240px;
			}
			&--10 {
				background: orange;
				height: 240px;
			}
		}
	}
}
